.projects{
    background-color: #F2F2F2;
    padding: 2.5rem;
    div{
        text-align: center;
        h1{
        font-size: 39px;
        padding-top: 14px;
        font-weight: 500;
        }
        p{
        font-size: 15px;
        color: #5f5f5f;
        font-weight: 300;      
        text-align: center;
        margin-top: 0.5rem; 
        }
    }
}