# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


https://santiagoquinteros.vercel.app/#contact
https://lucaspereyradev.github.io/portfolio/#aboutme
https://www.agueroluca.com.ar/#inicio
https://www.bautistapietraroia.com.ar/
https://www.carandev.me/
https://www.mmartin.site/
https://santiagofuentesgibert.github.io/portfolio/
https://braian-yanquin.web.app/
https://dante-terranova.vercel.app/
https://brazanovichportfolio.vercel.app/
https://brittanychiang.com/
https://portfoliojuanmanitta.netlify.app/ nazi


color pallets:
https://coolors.co/palette/252323-70798c-f5f1ed-dad2bc-a99985
https://coolors.co/palette/595959-7f7f7f-a5a5a5-cccccc-f2f2f2
https://coolors.co/palette/0d1b2a-1b263b-415a77-778da9-e0e1dd

watercss

https://github.com/santtiq?tab=overview&from=2022-12-01&to=2022-12-31
